<div class="flex flex-col p-4 gap-y-2">
  <div id="info" class="flex gap-x-4">
     // env+'/'+user.avatar ||
   <img
    [ngSrc]="
      'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQhWdTnmHCBRfMu359x_TmhZRbvGSTS83quuw&s'
    "
    width="24"
    height="24"
    class="rounded-full"
    alt="user-avatar"
    loading="lazy"
  />
    <div>
      <p>{{comment.writer}}</p>
      <p>{{comment.publishDate}}</p>
    </div>
  </div>
  <div id="comment">
    <p>{{comment.body}}</p>
  </div>
  <div id="actions">
    <button>Like - {{comment.likes}}</button>
    <button>dislike - {{comment.dislikes}}</button>
    <button>reply</button>
  </div>
</div>
